#wrapper{
    padding: 20px 20px 20px 40px;
}

.button{
    margin: 20px 0;
}
.fa{
    font-size: 16px;
}
.table{
    max-width: 900px;
}
.table td{
    vertical-align: top;
}
.table th{
    vertical-align: top;
}
.form{
    max-width: 700px;
}
.table ul{
    list-style: none;
    padding: 0;
    margin: 0;
}